<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBWTAM3Tct37Rf-p-4g0F02dusag-2u85I</string>
	<key>GCM_SENDER_ID</key>
	<string>280176558850</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.diyarExpress</string>
	<key>PROJECT_ID</key>
	<string>diyar-d2556</string>
	<key>STORAGE_BUCKET</key>
	<string>diyar-d2556.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:280176558850:ios:b67152e20020d9ef12f81b</string>
</dict>
</plist>